.ng-invalid.ng-dirty[name="username"]{
    border-left : 3px red solid;
}
.ng-valid.ng-dirty[name="username"]{
    border-left : 3px green solid;
}
.ng-invalid.ng-dirty[name="password"]{
    border-left : 3px red solid;
}
.ng-valid.ng-dirty[name="password"]{
    border-left : 3px green solid;
}
.ng-invalid.ng-dirty[name="confirm"]{
    border-left : 3px red solid;
}
.ng-valid.ng-dirty[name="confirm"]{
    border-left : 3px green solid;
}