<div class="container">
  <h1>Promise Data : {{ promise | async | uppercase }}</h1>
  <h1>Contact Number : {{ contact_no | countrycode : 'AUS' : 'Australia'}}</h1>

  <hr>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <!-- <input type="text" [(ngModel)]="filteredStatus" class="form-control"> -->
      <select [(ngModel)] = "filteredStatus" class="form-control">
        <option value="completed">Completed Task</option>
        <option value="pending">Pending Task</option>
      </select>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <button class="btn btn-default btn-block" 
        (click) = "onAddNewWork()">Add New Work</button>
    </div>
  </div>


  <br>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todos | filter : filteredStatus: 'status'">
      {{todo.label}} <span class="badge"> {{ todo.status }}</span>
    </li>
  </ul>

</div>