<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-10-col-md-10">
      <div class="container">
        <ul class="list-unstyled nav navbar-nav navbar-default">
          <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['login']">Login</a></li>
          <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['register']">Register</a></li>
          <li><a [routerLink]="['pipe']">Pipe</a></li>
          <li><a [routerLink]="['observable']">Observable</a></li>
          <li><a [routerLink]="['product']">Product</a></li>
          <li *ngIf="authService.isAuthenticated()"><a [routerLink]="['users']">Users</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2-col-md-2" *ngIf="authService.isAuthenticated()">
      <br>
      <button class="btn btn-danger btn-small btn-block" 
        (click)="onLogout()">Logout</button>
    </div>
  </div>
</div>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <!-- <h1>Countr in App : {{ dataService.counter }}</h1>
  <button (click)="increase()" class="btn btn-primary">Increase</button> -->

</div>


<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <app-observable-demo></app-observable-demo> -->

<!-- <app-pipe-demo></app-pipe-demo> -->
<!-- 
<app-login></app-login>

<app-register></app-register>

<div *ngIf="authService.isAuthenticated()">
    <app-users></app-users>
</div> -->